<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Document.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Fast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFDF089219F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089319F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089419F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089519F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089619F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089719F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089819F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089919F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089A19F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089B19F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089C19F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDF089E19F9824D006BA99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
